.remove-botton {
    /*border-radius: 2px;
    margin-left: 380px;*/
    float: right;
}

.align-items-center {
    background-color: #CCFF99;
}

.bg-green {
    background-color: #CCFF99;
}

.py-4 {
    background-color: #28a745;
}
